<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GOexplorAr</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/contents.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script
src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
function initialize()
{

  var mapProp3 = {
    center: new google.maps.LatLng(15.482725, 73.807229),
    zoom:15,
    mapTypeId: google.maps.MapTypeId.HYBRID
  };


  var map3 = new google.maps.Map(document.getElementById("googleMap3"),mapProp3);
 
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

</head>

<body id="page-top" scroll="no" style="overflow-y: scroll; overflow-x: hidden">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-transparent">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">GOexplorAr</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Categories</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="login.html">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header class="block">

 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
          <img src="img/header.jpg">
    </div>
    <div class="item">
      <img src="img/cab%20de%20ram%20fort%201.jpg">
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
   </header>
    
    <div id="container">
    <div id="one">
        <h1>Best time to visit</h1>
        <p>hi</p>
        <h2>Transport</h2>
        <p>Bike</p>
        <p>Car</p>
        <p>Bus</p>
        <h3>
<div id="googleMap3" style="width:400px;height:300px;"></div>

        </h3>
         <aside class="bg-dark">
        <div class="container text-align left">
            <div class="call-to-action">
                <h2>Want to explore Goa</h2>
                <h3>by yourself?</h3>
                <a href="rent%20a%20bike.html" class="btn btn-default btn-xl wow tada">Rent a Bike Now!</a>
            </div>
        </div>
    </aside>
        </div>
    <div id="two">
        <h1>Miramar</h1>
        <p>Miramar is the beach area of the Goan capital of Panjim, also known as Panaji and is one of the most visited beaches of Goa. Many people, mostly tourists, come to this beach every day. Originally named Porta de Gaspar Dias by the Portuguese, the name was then changed to Miramar.


Miramar Beach
Situated at the confluence of the Mandovi River and the Arabian Sea, it is a small beach that occasionally hosts some events. </p>
        
<h2>Things to do</h2>  
        <p>Walk on the beach, children's park for kids</p>
        
        </div>
</div>

    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
