<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Goan Special</title>
      <link rel="shortcut icon" type="image/x-icon" href="img/tito_beach.png">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">
<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="sightseeing/style.css" />
<script type="text/javascript" src="sightseeing/jquery.js"></script>
      <script type="text/javascript" src="js/goan.js"></script>
<!-- End WOWSlider.com HEAD section -->
      <link rel="stylesheet" type="text/css" href="css/filter.css"/>
      </head>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC13LD-1oMTmWYl70AdDzM1P7Zg-SofnYg&signed_in=true&callback=initMap"
        async defer></script>
 <body id="page-top" scroll="no" style="overflow-y: scroll; overflow-x: hidden">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style=" border-bottom-width: 0px";>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/" >GOexplorAr</a><div class="search_box pull-right">
						</div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
     <div class="path">
     <div class="pad border-b">
         <a href="GOexplorAr.html" title="GOexplorAr">Home</a>
         &nbsp;/&nbsp;
        <a href="shopping.html" title="Shopping">Shopping</a>
             &nbsp;/&nbsp;
             <span>Goan Special</span>
         </div>
     </div>
      <div class="title">
         <p class="title">Goan Special</p>
         </div>
         <hr style="max-width: 1150px;">
     <aside id="info">
           <div class="txt">
               <div class="txt">
                   <p>
                       <b>
                           <img src="img/categories/sight/aguada1.jpg" width="306" height="204" style="padding-right: 10px;padding-left:10px; float: left;" title="" alt=""/>
Goa has played an influential role in Indian history. Goa was one of the major trade centres in India, thus it had always been attracting the influential dynasties, seafarers, merchants, traders, monks and missionaries since its earliest known history. Throughout its history Goa has undergone continual transformation, leaving an indelible impression on various aspects of its cultural and socio-economic development. A land of blended cultures, the unison finds expression in the art and crafts of Goa. While on a trip to Goa, its difficult to resist temptation to buy souvenirs. One can see temples and churches adorned with 'folk' paintings. These paintings usually depict scenes from Mahabharata or Ramayana or the new testaments. The museums and art galleries in Goa also carry numerous examples of the Goan art. And not just the churches and the art galleries, you can catch glimpses of how the Portuguese and Indian forms merge in humble house holds. 
Among the crafts of Goa, there is no end. Its difficult to pick what is best, the exquisitely carved rosewood and teak furniture, the terracotta work or the 'visible everywhere' sea shells work. Even in today's Techno driven world, these hand made souvenirs look so inviting on the counters of shops. 
The art and craft of Goa, like its culture has come out of a blend of Indo-Portuguese art forms. Capturing the fancy of Goans as well as tourists, Goa craft has won critical acclaim from the connoisseurs of the art world. Some prominent crafts forms in Goa are the bamboo craft, woodcarving, brass metals, sea shell crafts, paper mache and wooden lacquer ware. The east is the east, the west the west, but the twain do meet in Goa.
                           </aside>
     <section id="dvMap">
     </section>
                                      <div class="places" scroll="no" style="overflow-y: scroll; overflow-x: hidden">
                        <div class="places-title">
            <h4>Featured Places</h4>
            <hr>
<div class="row" scroll="no" style="overflow-y: scroll; overflow-x: hidden">
  <div class="col-sm-2">
    <div class="thumbnail">
      <img src="img/categories/sight/aguada1.jpg" alt="...">
      <div class="caption">
        <h5>Aguada Fort</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="aguada.html" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/reis1.jpg" alt="...">
      <div class="caption">
        <h5>Reis Magus Fort</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="reis.html" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
                      <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
                  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
                  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
                  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
                  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
                  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
                  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
                  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/northgoa/agauda3.JPG" alt="...">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="#" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
                  </div>
                  
</div>
            </div>
        </div>
     <div class="details">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +123456789</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> ahpsvinfo@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
          </div>
          	<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<h6>GOexplorAr</h6>
				</div>
			</div>
		</div>
		
	</footer>

<script type="text/javascript" src="sightseeing/slider.js"></script>
<script type="text/javascript" src="sightseeing/script.js"></script>
<script type="text/javascript" src="js/art_history.js"></script>
<!-- End WOWSlider.com BODY section -->
       <script src="js/main.js"></script>
      
      <script src="js/bootstrap.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>