<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GOexplorAr</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/rent%20a%20bike.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" scroll="no" style="overflow-y: scroll; overflow-x: hidden">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">GOexplorAr</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/login">Login</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Rent A Bike</h1>
                <hr>
                <p>Bikes are the most popular modes of transport in Goa. We rent a variety of bikes. This service is available 24/7, 365 days a year. Bike rentals are readily available here. Bardez, Pernem, are all major hubs. Along with the bikes we even offer helmets and some amount of fuel. Renting a bike is helpful because it can take you places where cars cannot reach and saves a lot of time by escaping the traffic quite efficiently.</p>
               <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Terms and Conditions
</a>
<div class="collapse" id="collapseExample">

  <div class="well">
1.The user shall be not less than 18 years of age.
<br>2.The user shall have a valid two wheeler /motorcycle driver's licence and an international driver's licence.
<br>3.The user shall sign provide all necessary documents and deposits as prescribed.
<br>4.A deposit must be made of a certain amount for reserving the bike. The balance must be paid when you pick the bike.
<br>5. Renters are responsible for any damage to the bike. Renters are liable for the full replacement cost should the bike be lost or stolen.<br>6. In the unfortunate event of stolen bke, it is your responsibility to report this to the police. Please provide a copy of the declaration given at the police station to us.
<br>6. Valid driver’s license, credit card and signed waiver required with all the rentals.
<br>7. Bike type are subject to availability. Please call for availability and group rates.
    
  </div>
</div>
                <a class="btn btn-primary" role="page-scroll" href="#rent">Rent Now!</a>
            </div>
        </div>
    </header>
    <section id="rent">
    <div class="row">
            <div class="col-lg-12">
   <h2 class="section-heading text-center">North Goa</h2>
                    <hr class="primary">
            </div>
        </div>
     <div class="row text-center">
<br>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/bikes/dio1.jpg" alt="">
                    <div class="caption">
                        <h3>Honda Dio</h3>
                        <p>₹300-400/-per day</p>
                        <p>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModaldio">
                                RENT NOW!!!!
                            </button>

<!-- Modal -->
                        <div class="modal fade" id="myModaldio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Honda Dio</h4>
                                    </div>
                                    <div class="modal-body">
                                         A Dio has something in it for everyone. The bike lets anybody in the family get their hands on it and make riding fun.<br><br>
                                        Terms and Conditions:<br>
                                        - The user shall sign provide all necessary documents and deposits as prescribed.<br>
                                        - Rate would further reduce on the no. of days used<br>
                                        - Drop and pick-up in North coastal belt will be Rs.100/- * <br><br>
                                        <h5>Contact Details:</h5>
                                        Pernem:123456789
                                        <br>
                                        Bardez:123456789
                                        <br>
                                        Tiswadi:123456789
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-target="book">Book Now!</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/bikes/classic350_left-side_blue_600x463_motorcycle.jpg" alt="">
                    <div class="caption">
                        <h3>Royal Enfield</h3>
                        <p>₹900-1000/-per day</p>
                        <p>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalbullet">
                                RENT NOW!!!!
                            </button>

<!-- Modal -->
                        <div class="modal fade" id="myModalbullet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Royal Enfield</h4>
                                    </div>
                                    <div class="modal-body">
                                         Exploring Goa on bullet is an altogether a new experience!<br><br>
                                        Terms and Conditions:<br>
                                        - The user shall sign provide all necessary documents and deposits as prescribed.<br>
                                        - Rate would further reduce on the no. of days used<br>
                                        - Drop and pick-up in North coastal belt will be Rs.100/- * <br><br>
                                        <h5>Contact Details:</h5>
                                        Pernem:123456789
                                        <br>
                                        Bardez:123456789
                                        <br>
                                        Tiswadi:123456789
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-target="book">Book Now!</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/bikes/piaggio-vespa-lx-50-4v-06%20(1).jpg" alt="">
                    <div class="caption">
                        <h3>Veapa</h3>
                        <p>₹500-600/-per day</p>
                        <p>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalvespa">
                                RENT NOW!!!!
                            </button>

<!-- Modal -->
                        <div class="modal fade" id="myModalvespa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Vespa</h4>
                                    </div>
                                    <div class="modal-body">
                                         Explore Goa with Vespa...<br><br>
                                        Terms and Conditions:<br>
                                        - The user shall sign provide all necessary documents and deposits as prescribed.<br>
                                        - Rate would further reduce on the no. of days used<br>
                                        - Drop and pick-up in North coastal belt will be Rs.100/- * <br><br>
                                        <h5>Contact Details:</h5>
                                        Pernem:123456789
                                        <br>
                                        Bardez:123456789
                                        <br>
                                        Tiswadi:123456789
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-target="book">Book Now!</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/bikes/Honda-activa.gif" alt="">
                    <div class="caption">
                        <h3>Honda Activa</h3>
                        <p>₹300-400/-per day</p>
                        <p>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalactiva">
                                RENT NOW!!!!
                            </button>

<!-- Modal -->
                        <div class="modal fade" id="myModalactiva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Honda Activa</h4>
                                    </div>
                                    <div class="modal-body">
             An Activa has something in it for everyone. The bike lets anybody in the family get their hands on it and make riding fun.<br><br>
                                        Terms and Conditions:<br>
                                        - The user shall sign provide all necessary documents and deposits as prescribed.<br>
                                        - Rate would further reduce on the no. of days used<br>
                                        - Drop and pick-up in North coastal belt will be Rs.100/- * <br><br>
                                        <h5>Contact Details:</h5>
                                        Pernem:123456789
                                        <br>
                                        Bardez:123456789
                                        <br>
                                        Tiswadi:123456789
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-target="book">Book Now!</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
    <div class="row">
            <div class="col-lg-12">
                   <h2 class="section-heading text-center">South Goa</h2>
                    <hr class="primary">
            </div>
        </div>
     <div class="row text-center">
<br>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/bikes/dio1.jpg" alt="">
                    <div class="caption">
                        <h3>Honda Dio</h3>
                        <p>₹300-400/-per day</p>
                        <p>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModaldiosg1">
                                RENT NOW!!!!
                            </button>

<!-- Modal -->
                        <div class="modal fade" id="myModaldiosg1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Honda Dio</h4>
                                    </div>
                                    <div class="modal-body">
                                         A Dio has something in it for everyone. The bike lets anybody in the family get their hands on it and make riding fun.<br><br>
                                        Terms and Conditions:<br>
                                        - The user shall sign provide all necessary documents and deposits as prescribed.<br>
                                        - Rate would further reduce on the no. of days used<br>
                                        - Drop and pick-up in North coastal belt will be Rs.100/- * <br><br>
                                        <h5>Contact Details:</h5>
                                        Mormugao:123456789
                                        <br>
                                        Salcette:123456789
                                        <br>
                                        Quepem:123456789
                                        <br>
                                        Canacona:123456789
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-target="book">Book Now!</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/bikes/classic350_left-side_blue_600x463_motorcycle.jpg" alt="">
                    <div class="caption">
                        <h3>Royal Enfield</h3>
                        <p>₹900-1000/-per day</p>
                        <p>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalbullet1">
                                RENT NOW!!!!
                            </button>

<!-- Modal -->
                        <div class="modal fade" id="myModalbullet1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Royal Enfield</h4>
                                    </div>
                                    <div class="modal-body">
                                         Exploring Goa on bullet is an altogether a new experience!<br><br>
                                        Terms and Conditions:<br>
                                        - The user shall sign provide all necessary documents and deposits as prescribed.<br>
                                        - Rate would further reduce on the no. of days used<br>
                                        - Drop and pick-up in North coastal belt will be Rs.100/- * <br><br>
                                        <h5>Contact Details:</h5>
                                        Mormugao:123456789
                                        <br>
                                        Salcette:123456789
                                        <br>
                                        Canacona:123456789
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-target="book">Book Now!</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>

          
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/bikes/royal-enfield-bike-classic-350-3.jpg" alt="">
                    <div class="caption">
                        <h3>Royal Enfield</h3>
                        <p>₹900-1000/-per day</p>
                        <p>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalbullet2">
                                RENT NOW!!!!
                            </button>

<!-- Modal -->
                        <div class="modal fade" id="myModalbullet2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Royal Enfield</h4>
                                    </div>
                                    <div class="modal-body">
                                         Exploring Goa on bullet is an altogether a new experience!<br><br>
                                        Terms and Conditions:<br>
                                        - The user shall sign provide all necessary documents and deposits as prescribed.<br>
                                        - Rate would further reduce on the no. of days used<br>
                                        - Drop and pick-up in North coastal belt will be Rs.100/- * <br><br>
                                        <h5>Contact Details:</h5>
                                        Mormugao:123456789
                                        <br>
                                        Salcette:123456789
                                        <br>
                                        Quepem:123456789
                                        <br>
                                        Canacona:123456789
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-target="book">Book Now!</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>

                      <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img/bikes/dio2.jpg" alt="">
                    <div class="caption">
           <h3>Honda Dio</h3>
                        <p>₹300-400/-per day</p>
                        <p>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModaldiosg2">
                                RENT NOW!!!!
                            </button>

<!-- Modal -->
                        <div class="modal fade" id="myModaldiosg2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Honda Dio</h4>
                                    </div>
                                    <div class="modal-body">
                                         A Dio has something in it for everyone. The bike lets anybody in the family get their hands on it and make riding fun.<br><br>
                                        Terms and Conditions:<br>
                                        - The user shall sign provide all necessary documents and deposits as prescribed.<br>
                                        - Rate would further reduce on the no. of days used<br>
                                        - Drop and pick-up in North coastal belt will be Rs.100/- * <br><br>
                                        <h5>Contact Details:</h5>
                                        Mormugao:123456789
                                        <br>
                                        Salcette:123456789
                                        <br>
                                        Quepem:123456789
                                        <br>
                                        Canacona:123456789
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-target="book">Book Now!</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>


          

           
        </div>
        <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>8806723281</p>
                    <p>9503389470</p>
                    <p>9764820651</p>
                    <p>8087693364</p>
                    <p>7057962269</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">amarkerkar11@gmail.com</a></p>
                    <p><a href="mailto:your-email@your-domain.com">hitesh.sunny1094@gmail.com</a></p>
                    <p><a href="mailto:your-email@your-domain.com">poonam75narvekar@gmail.com</a></p>
                    <p><a href="mailto:your-email@your-domain.com">sahishashirodker@gmail.com</a></p>
                    <p><a href="mailto:your-email@your-domain.com">vikas95verma@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
<hr><footer class="foo"><center>
       <div class="row">
        <ul class="icons">
					<a href="https://www.facebook.com/poonamnarvekar75" class="icon circle facebook-icon"><span class="label">Facebook</span></a>
					<a href="https://plus.google.com/poonam75narvekar/posts/" class="icon circle fa-google-plus"><span class="label">Google+</span></a>
					<a href="https://github.com/Poonam75/" class="icon circle fa-github"><span class="label">Github</span></a></li>
				</ul>
            </div>
        <p> Copyrights © AHPSV</p></center></footer>
    </div>


   

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
